* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: black;
}

header {
    height: 25vh;
    background: black;
    color: white;
}
header h1 {
    text-align: center;
    padding-top: 50px;
}
#game {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 600px;
    flex-wrap: wrap;
}

#game div {
    width: 200px;
    background-color: white;
    border: 1px solid black;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 6rem;
}

#game div:hover {
    background-color: aqua;
}